<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 https://www.springframework.org/schema/context/spring-context.xsd">

	<!-- This is our bean -->
	<bean class="com.springcore.Student" name="student1">
		<!-- Here we use 'value' as a element/tag -->
		<!-- <property name="studentId"> <value>1234</value> </property> <property 
			name="studentName"> <value>Furquan Ansari</value> </property> <property name="studentAddress"> 
			<value>Balapur</value> </property> -->

		<!-- Here we use 'value' as a attribute -->
		<!-- <property name="studentId" value="5678" /> <property name="studentName" 
			value="Izhan Ansari" /> <property name="studentAddress" value="Akola" /> -->
	</bean>

	<!-- If we have more beans or object then we can specify like this(student2) -->
	<!-- <bean class="com.springcore.Student" name="student2"> <property name="studentId" 
		value="7890" /> <property name="studentName" value="Aasim Ansari" /> <property 
		name="studentAddress" value="Amravati" /> </bean> -->

	<!--Here we set properties using p:schema -->
	<bean class="com.springcore.Student" name="student2" p:studentId="2468"
		p:studentName="Salim Zafar" p:studentAddress="Nagpur" />


</beans>